.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: space-around;
    height: 100%;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--primary-black);
    width: 45vw;
    height: 100%;
}

.imagensProjeto {
    width: 100%;
    height: auto;
    max-width: 40rem;
    max-height: 40rem;
    object-fit: cover;
    border-radius: 10px;
}

.juntar {
    position: relative;
    width: 100%;
    max-width: 40rem;
}

.overlay {
    position: absolute;
    inset: 0;
    background: var(--black-opacity);
    color: var(--primary-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.juntar:hover .overlay {
    opacity: 0;
}